nav {
	background-color: deepskyblue;
	font-family: "Trebuchet MS";
	position: relative;
}

#menutoggle {
	width: 40px;
	height: 50px;
	position: relative;
	float: left;
	margin-right: 10px;
	display: none;
}

#menutoggle:hover {
	background-color: transparent;
}

#menutoggle:before {
	content: "";
	position: absolute;
	left: 0;
	top: 10px;
	width: 40px;
	height: 5px;
	background: black;
	box-shadow: 0 12px 0 0 black, 0 24px 0 0 black;
}

nav:after {
	clear: left;
	content: " ";
	display: table;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
}

nav ul li {
	margin: 0px;
	display: inline-block;
	float: left;
	background-color: deepskyblue;
}
nav ul a {
	display: block;
	padding: 0 20px;
	color: white;
	font-size: 14px;
	line-height: 50px;
	text-decoration: none;
	transition: background-color 1.0s;
}
nav a:hover{
	background-color: #000;
}
nav ul ul {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 50px;
	transition: opacity 1.0s;
}
nav ul li:hover > ul {
	visibility: visible;
	opacity: 1;
	
}
nav ul ul li {
	float: none;
	display: list-item;
	position: relative;
}
li > a:after {
	content: ' +';
}
li > a:only-child:after {
	content: ' ';
}
@media only screen and (max-width : 700px) {

		#menutoggle {
			display:inline-block;
		}

		nav ul { 
			display: none;
			width: 100%;
		}

		nav li {
			text-align: left;
			width: 100%;
			padding: 2px 0;
			border-bottom:1px solid #fff;
			margin: 0;
		}

		nav:hover > ul {
			display: block;
		}

		nav ul li:hover ul {
			display: block;
			visibility:visible;
			opacity: 1;
			position:static;
		}

		nav ul li ul li {
			text-align: left;
			padding: 1px 0 1px 10%;
			width:90%;
			font-size:12px;
			border-bottom:none;
			margin: 0;
		}
	}